@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Karla';
}

code {
  font-family: 'Karla', source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.heading {
  font-family: 'Mulish';
  font-weight: 800;
}
